extends layout

block content
  .container
    p 
      strong Upute:
    p.
      Za ovaj primjer implementirao sam simulaciju vertikalnog i horizontalnog napada. Kada se ranjivost isključi u oba napada se ograniči broj mogućih login pokušaja na 5,
      te se korisnicima zamjene lozinke sa praktički "nepogodljivim" lozinkama za brute force napad. Simulacija napada koristi najčešće lozinke i korisnička imena dohvaćeno s interneta.
    p.
      Kao ulazne podatke za napade možete probati upisati neka korisnička imena ili šifre koje se često koriste, vjerojatno ćete pogoditi neko ime ili lozinku,
      također možete pogledati podatke iz baze podataka u izborniku te se koristiti njima za primjere. Na dnu se ispišu rezultati napada.
    p.
      Također imate opciju normalnog login-a, te checkbox za login mijenja lozinke sa slabih na jake.

    div.split
        form.half(action="/brokenAuth/verticalAttack" method="POST")
            h2 Vertical attack
            div
                label(for="vulnerable1")
                    input(type="checkbox" id="vulnerable1" name="vulnerable" checked)
                    |  Vulnerability active
            div
                input(type="text" id="username" name="username" placeholder="Username for attack")
            div
                button(type="submit") Attack

        form.half(action="/brokenAuth/horizontalAttack" method="POST")
            h2 Horizontal attack
            div
                label(for="vulnerable2")
                    input(type="checkbox" id="vulnerable2" name="vulnerable" checked)
                    |  Vulnerability active
            div
                input(type="text" id="password" name="password" placeholder="Password for attack")
            div
                button(type="submit") Attack

    form(action="/brokenAuth/login" method="POST")
      h1 Login

      label(for="vulnerable3")
        input(type="checkbox" id="vulnerable3" name="vulnerable" checked)
        |  Vulnerability active

      div
        label(for="username") Username:
        input(type="text" id="username" name="username")
      div
        label(for="password") Password:
        input(type="text" id="password" name="password")
      div
        button(type="submit") Login
      div
        if error 
          p #{error}

    if successful
      h2 Login successful
    else if unsuccessful
      h2 Login failed

    if passwords
        div.split
            div.half
                p
                  strong Passwords tried:
                  each i in passwords
                    p #{i}
            div.half
                if loginInfo
                    p
                      strong Login successful for:
                    p Username: #{loginInfo.username}
                    p Password: #{loginInfo.password}

    if usernames
        div.split
            div.half
                p
                  strong Usernames tried:
                  each i in usernames
                    p #{i}
            div.half
                if loginInfo
                  each [username, password] of loginInfo
                    p
                      strong Login successful for:
                    p Username: #{username}
                    p Password: #{password}

            